[submodule "rust.vim"]
	path = vim/dot-config/vim/pack/googol/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "editorconfig-vim"]
	path = vim/dot-config/vim/pack/googol/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-javascript"]
	path = vim/dot-config/vim/pack/googol/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-jsx"]
	path = vim/dot-config/vim/pack/googol/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim-fugitive"]
	path = vim/dot-config/vim/pack/googol/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-surround"]
	path = vim/dot-config/vim/pack/googol/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-commentary"]
	path = vim/dot-config/vim/pack/googol/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "html5.vim"]
	path = vim/dot-config/vim/pack/googol/start/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "ctrlp.vim"]
	path = vim/dot-config/vim/pack/googol/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "typescript-vim"]
	path = vim/dot-config/vim/pack/googol/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "purescript-vim"]
	path = vim/dot-config/vim/pack/googol/start/purescript-vim
	url = https://github.com/purescript-contrib/purescript-vim.git
[submodule "vim-eunuch"]
	path = vim/dot-config/vim/pack/googol/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bclose.vim"]
	path = vim/dot-config/vim/pack/googol/start/bclose.vim
	url = https://github.com/rbgrouleff/bclose.vim.git
[submodule "vim-go"]
	path = vim/dot-config/vim/pack/googol/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-unimpaired"]
	path = vim/dot-config/vim/pack/googol/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-vinegar"]
	path = vim/dot-config/vim/pack/googol/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim-dadbod"]
	path = vim/dot-config/vim/pack/googol/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "vim-elixir"]
	path = vim/dot-config/vim/pack/googol/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim-base64"]
	path = vim/dot-config/vim/pack/googol/start/vim-base64
	url = https://github.com/christianrondeau/vim-base64.git
[submodule "vim-toml"]
	path = vim/dot-config/vim/pack/googol/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim-terraform"]
	path = vim/dot-config/vim/pack/googol/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "coc.nvim"]
	path = vim/dot-config/vim/pack/googol/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "fugitive-gitlab.vim"]
	path = vim/dot-config/vim/pack/googol/start/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
[submodule "fzf"]
	path = vim/dot-config/vim/pack/googol/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "fzf.vim"]
	path = vim/dot-config/vim/pack/googol/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim-tsx"]
	path = vim/dot-config/vim/pack/googol/start/vim-tsx
	url = https://github.com/ianks/vim-tsx.git
[submodule "vim-solarized8"]
	path = vim/dot-config/vim/pack/googol/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim-beancount"]
	path = vim/dot-config/vim/pack/googol/start/vim-beancount
	url = https://github.com/nathangrigg/vim-beancount.git
