[user]
    name = Miika Hänninen
    email = miika.hanninen@reaktor.com
    signingkey = 7C727521C33A1E6E547F006B0ED89E238E72BE0A
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
#    pager = delta --plus-color="#012800" --minus-color="#340001" --theme 'Solarized (dark)'
[interactive]
#    diffFilter = delta --color-only --theme 'Solarized (dark)'
[push]
    default = simple
[alias]
    statsu=status
    stauts=status
    ll = !exec git log --pretty='format: %C(auto) %h %G?%d %s' --abbrev-commit --graph --decorate --all --color | less -R -p 'HEAD'
    fp = push --force-with-lease
    fixup = commit --amend --no-edit
    ps=push
    pl=pull
    b=branch
    co=checkout
    ci=commit
    d=diff
    dd=diff --cached
    dt=difftool
    ddt=difftool --cached
    l=log
    a=add
    ft=fetch
    rb=rebase
    g=grep -i -n
    git = !exec git
    bc= !exec branch-cleanup
    hub = !exec github-open.sh
    hub-branch = !exec github-open.sh branch
    hub-pulls = !exec github-open.sh pulls
[diff]
    tool = icdiff
    submodule = log
[difftool "icdiff"]
    cmd = icdiff $LOCAL $REMOTE
[difftool]
    prompt = false
[commit]
	verbose = true
#    gpgsign = true
[merge]
    conflictstyle = diff3
[fetch]
    recurseSubmodules = on-demand
[status]
    submoduleSummary = true
[rebase]
    autosquash = true
[pull]
	ff = only
