[user]
    name = Miika Hänninen
    email = miika@miikahanninen.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    pager = delta
[push]
    default = simple
    autoSetupRemote = true
[pull]
    twohead = ort
[alias]
    statsu=status
    stauts=status
    ll = !exec git log --pretty='format: %C(auto) %h %d %s' --abbrev-commit --graph --decorate --all --color | less -R -p 'HEAD ->'
    fp = push --force-with-lease
    fixup = commit --amend --no-edit
    ps=push
    pl=pull
    b=branch
    co=checkout
    ci=commit
    d=diff
    dd=diff --cached
    dt=difftool
    ddt=difftool --cached
    l=log
    a=add
    ft=fetch
    rb=rebase
    g=grep -i -n
    git = !exec git
    bc= !exec branch-cleanup
    hub = !exec github-open.sh
    hub-branch = !exec github-open.sh branch
    hub-pulls = !exec github-open.sh pulls
[diff]
    algorithm = histogram
    submodule = log
    colorMoved = default
[difftool]
    prompt = false
[commit]
	verbose = true
#    gpgsign = true
[merge]
    conflictstyle = zdiff3
    ff = false
[branch]
    sort = -committerdate
[fetch]
    recurseSubmodules = on-demand
[status]
    submoduleSummary = true
[rebase]
    autosquash = true
[advice]
    skippedCherryPicks = false
[init]
	defaultBranch = main
[log]
    date = iso
[interactive]
    diffFilter = delta --color-only
[includeIf "gitdir:~/src/relex/"]
    path = ~/.gitconfig.relex
[includeIf "gitdir:~/src/github.com/partio-scout/"]
    path = ~/.gitconfig.partio
