[submodule ".vim/pack/googol/start/ale"]
	path = .vim/pack/googol/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/googol/start/rust.vim"]
	path = .vim/pack/googol/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/googol/start/editorconfig-vim"]
	path = .vim/pack/googol/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/googol/start/vim-javascript"]
	path = .vim/pack/googol/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/googol/start/vim-jsx"]
	path = .vim/pack/googol/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/pack/googol/start/vim-fugitive"]
	path = .vim/pack/googol/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/googol/start/vim-surround"]
	path = .vim/pack/googol/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/googol/start/vim-commentary"]
	path = .vim/pack/googol/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/googol/start/html5.vim"]
	path = .vim/pack/googol/start/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/pack/googol/start/ctrlp.vim"]
	path = .vim/pack/googol/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/googol/start/vim-colors-solarized"]
	path = .vim/pack/googol/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/googol/start/tsuquyomi"]
	path = .vim/pack/googol/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule ".vim/pack/googol/start/typescript-vim"]
	path = .vim/pack/googol/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/googol/start/purescript-vim"]
	path = .vim/pack/googol/start/purescript-vim
	url = https://github.com/purescript-contrib/purescript-vim.git
[submodule ".vim/pack/googol/start/psc-ide-vim"]
	path = .vim/pack/googol/start/psc-ide-vim
	url = https://github.com/FrigoEU/psc-ide-vim.git
[submodule ".vim/pack/googol/start/vim-eunuch"]
	path = .vim/pack/googol/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/pack/googol/start/vim-rhubarb"]
	path = .vim/pack/googol/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/googol/start/bclose.vim"]
	path = .vim/pack/googol/start/bclose.vim
	url = https://github.com/rbgrouleff/bclose.vim.git
[submodule ".vim/pack/googol/start/vim-go"]
	path = .vim/pack/googol/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/googol/start/vim-unimpaired"]
	path = .vim/pack/googol/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/googol/start/vim-vinegar"]
	path = .vim/pack/googol/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/pack/googol/start/vim-dadbod"]
	path = .vim/pack/googol/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule ".vim/pack/googol/start/vim-elixir"]
	path = .vim/pack/googol/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/pack/googol/start/vim-heroku"]
	path = .vim/pack/googol/start/vim-heroku
	url = https://github.com/tpope/vim-heroku.git
[submodule ".vim/pack/googol/start/vim-base64"]
	path = .vim/pack/googol/start/vim-base64
	url = https://github.com/christianrondeau/vim-base64.git
[submodule ".vim/pack/googol/start/vim-toml"]
	path = .vim/pack/googol/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/pack/googol/start/vim-terraform"]
	path = .vim/pack/googol/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
